* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Nanum Gothic Coding', monospace;
  line-height: 1.6;
  color: black;
  background-color: bisque; }

.formatoTitulos, .titulos, .subtitulos {
  font-family: 'Baloo 2', cursive;
  color: #6619FF; }

.titulos {
  font-size: 4rem;
  text-align: center; }

.subtitulos {
  font-size: 2rem;
  color: #993030; }

a {
  text-decoration: none;
  color: black;
  font-weight: bold; }
  a:hover {
    text-decoration: none;
    color: black;
    font-weight: bold; }

.logoCetecc {
  vertical-align: middle;
  border-radius: 35%;
  width: 150px;
  height: 120px; }
  .logoCetecc:hover {
    transform: scale(1.2);
    border-radius: 0%; }

.navbar {
  background-color: rgba(240, 229, 34, 0.664); }

.homeGrid {
  display: grid;
  grid-template-areas: "portada portada portada" "tituloHome tituloHome tituloHome" "subtituloPsico subtituloPsico ." "textoHome textoHome textoHome" "ubicacionCetecc ubicacionCetecc ." "mapaCetecc . .";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto);
  justify-items: strecht;
  align-items: center; }

.homePortada {
  grid-area: portada;
  width: 100%; }

.homeImg {
  align-self: center;
  width: 100%;
  height: 300px; }

.homeTitulo {
  grid-area: tituloHome; }

.homeImportanciaPsico {
  grid-area: subtituloPsico;
  margin: 0 0 0 1.5%; }
  .homeImportanciaPsicoTexto {
    grid-area: textoHome;
    margin: 0 0 0 1.5%; }

.homeUbicacion {
  grid-area: ubicacionCetecc;
  margin: 0 0 0 1.5%; }

.homeMapa {
  grid-area: mapaCetecc; }
  .homeMapa iframe {
    margin: 3.5% 3.5%; }

.nosotrosGrid {
  display: grid;
  grid-template-areas: "tituloNosotros tituloNosotros tituloNosotros tituloNosotros tituloNosotros tituloNosotros" "fotoAna sobreAna sobreAna sobreAna sobreAna sobreAna" "fotoCarla sobreCarla sobreCarla sobreCarla sobreCarla sobreCarla" "fotoMathias sobreMathias sobreMathias sobreMathias sobreMathias sobreMathias" "fotoSonia sobreSonia sobreSonia sobreSonia sobreSonia sobreSonia" "fotoFernando sobreFernando sobreFernando sobreFernando sobreFernando sobreFernando";
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(6, auto);
  justify-content: center;
  align-items: center; }

.nosotrosTitulo {
  grid-area: tituloNosotros; }

.nosotrosFotoAna {
  grid-area: fotoAna;
  height: auto;
  width: fit-content;
  margin: 0 auto; }

.nosotrosSobreAna {
  grid-area: sobreAna;
  padding: 0 1%;
  margin-top: 3%; }

.nosotrosFotoCarla {
  grid-area: fotoCarla;
  height: auto;
  width: fit-content;
  margin: 0 auto; }

.nosotrosSobreCarla {
  grid-area: sobreCarla;
  padding: 0 1%;
  margin-top: 3%; }

.nosotrosFotoMathias {
  grid-area: fotoMathias;
  height: auto;
  width: fit-content;
  margin: 0 auto; }

.nosotrosSobreMathias {
  grid-area: sobreMathias;
  padding: 0 1%;
  margin-top: 3%; }

.nosotrosFotoSonia {
  grid-area: fotoSonia;
  height: auto;
  width: fit-content;
  margin: 0 auto; }

.nosotrosSobreSonia {
  grid-area: sobreSonia;
  padding: 0 1%;
  margin-top: 3%; }

.nosotrosFotoFernando {
  grid-area: fotoFernando;
  height: auto;
  width: fit-content;
  margin: 0 auto; }

.nosotrosSobreFernando {
  grid-area: sobreFernando;
  padding: 0 1%;
  margin-top: 3%; }

.misionGrid {
  display: grid;
  grid: "objetivosCetecc objetivosCetecc objetivosCetecc" auto "vision . ." auto "textoVision textoVision textoVision" auto "mision . ." auto "textoMision textoMision textoMision" auto "valores . ." auto "textoValores textoValores textoValores" 1fr / 1fr 1fr 1fr; }

.misionObjetivosGrales {
  margin-bottom: 2.5%;
  text-align: center;
  grid-area: objetivosCetecc; }

.misionVision {
  margin-left: 5%;
  grid-area: vision; }
  .misionVisionTexto {
    margin: 15px 0 10px 15px;
    grid-area: textoVision; }

.misionMision {
  margin-left: 5%;
  grid-area: mision; }
  .misionMisionTexto {
    margin: 15px 0 10px 15px;
    grid-area: textoMision; }

.misionValores {
  margin-left: 5%;
  grid-area: valores; }
  .misionValoresTexto {
    margin: 15px 0 10px 15px;
    grid-area: textoValores; }

.serviciosGrid {
  display: grid;
  grid: "tituloServicios tituloServicios tituloServicios tituloServicios tituloServicios" auto "listadoServicios listadoServicios listadoServicios . ." auto "subtituloServicios subtituloServicios subtituloServicios subtituloServicios subtituloServicios" auto "poblaciones poblaciones poblaciones poblaciones poblaciones" auto;
  grid-template-columns: repeat(5, 1fr); }

.serviciosTitulo {
  grid-area: tituloServicios;
  margin-bottom: 2.5%; }

.serviciosListado {
  grid-area: listadoServicios; }

.serviciosSubtitulos {
  grid-area: subtituloServicios;
  margin-top: 2.5%;
  margin-left: 1.5%; }

.serviciosPoblaciones {
  grid-area: poblaciones; }

.table th {
  text-align: center;
  padding: 2px 5px; }

.table td {
  text-align: center;
  padding-left: 10px; }

.contactoMapa {
  margin: 2% 0 2% 2%; }

.footer {
  border: black solid 2px;
  background-color: rgba(240, 229, 34, 0.664); }
  .footer p {
    font-weight: bold;
    font-style: italic; }
  .footer ul {
    display: flex;
    flex-direction: column; }
    .footer ul li {
      list-style-type: none; }
  .footerFlex {
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-around;
    align-items: center; }
    .footerFlex nav ul:first-child {
      margin-top: 1.3rem; }
  .footerIconos img {
    height: 60px;
    width: 65px; }
    .footerIconos img:hover {
      transform: scale(1.2);
      border-radius: 50%; }

@media screen and (max-width: 708px) {
  body {
    font-size: .80rem; }
  .titulos {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 15px; }
  .subtitulos {
    font-size: 1.7rem;
    line-height: 1; }
  .logoCetecc {
    width: 100px;
    height: 90px; }
  .homeImg {
    height: 200px;
    width: 100%; }
  .nosotrosFotoAna img {
    width: 135px;
    height: 135px; }
  .nosotrosSobreAna {
    margin-left: 1%; }
  .nosotrosFotoCarla img {
    width: 135px;
    height: 135px; }
  .nosotrosSobreCarla {
    margin-left: 1%; }
  .nosotrosFotoMathias img {
    width: 135px;
    height: 135px; }
  .nosotrosSobreMathias {
    margin-left: 1%; }
  .nosotrosFotoSonia img {
    width: 135px;
    height: 135px; }
  .nosotrosSobreSonia {
    margin-left: 1%; }
  .nosotrosFotoFernando img {
    width: 135px;
    height: 135px; }
  .nosotrosSobreFernando {
    margin-left: 1%; }
  .serviciosGrid {
    display: grid;
    grid: "tituloServicios tituloServicios tituloServicios" auto "listadoServicios listadoServicios listadoServicios" auto "subtituloServicios subtituloServicios subtituloServicios" auto "poblaciones poblaciones poblaciones" auto / 1fr 1fr 1fr; }
  .footer p {
    color: blue; }
  .footerFlex {
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  .footerIconos {
    margin-bottom: 1rem; } }

@media screen and (max-width: 480px) {
  body {
    font-size: .70rem; }
  .titulos {
    font-size: 2rem; }
  .subtitulos {
    font-size: 1.35rem; }
  .logoCetecc {
    width: 85px;
    height: 76.5px; }
  .homeGrid {
    display: grid;
    grid-template-areas: "portada" "tituloHome" "subtituloPsico" "textoHome" "ubicacionCetecc" "mapaCetecc";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    justify-items: strecht;
    align-items: center; }
  .homeImg {
    height: 150px;
    width: 100%; }
  .homeUbicacion {
    grid-area: ubicacionCetecc;
    margin: 15px 0.5%; }
    .homeUbicacion h2 {
      text-align: center; }
  .homeMapa {
    grid-area: mapaCetecc; }
    .homeMapa iframe {
      margin: 3.5% 6.5%;
      text-align: center; }
  .nosotrosGrid {
    display: grid;
    grid-template-areas: "tituloNosotros" "fotoAna" "sobreAna" "fotoCarla" "sobreCarla" "fotoMathias" "sobreMathias" "fotoSonia" "sobreSonia" "fotoFernando" "sobreFernando";
    justify-items: center;
    align-items: center; }
  .nosotrosFotoAna {
    text-align: center; }
    .nosotrosFotoAna img {
      width: 110px;
      height: 110px; }
  .nosotrosSobreAna {
    text-align: left; }
  .nosotrosFotoCarla {
    text-align: center; }
    .nosotrosFotoCarla img {
      width: 110px;
      height: 110px; }
  .nosotrosSobreCarla {
    text-align: left; }
  .nosotrosFotoMathias {
    text-align: center; }
    .nosotrosFotoMathias img {
      width: 110px;
      height: 110px; }
  .nosotrosSobreMathias {
    text-align: left; }
  .nosotrosFotoSonia {
    text-align: center; }
    .nosotrosFotoSonia img {
      width: 110px;
      height: 110px; }
  .nosotrosSobreSonia {
    text-align: left; }
  .nosotrosFotoFernando {
    text-align: center; }
    .nosotrosFotoFernando img {
      width: 110px;
      height: 110px; }
  .nosotrosSobreFernando {
    text-align: left; }
  .misionGrid {
    grid: "objetivosCetecc" auto "vision" auto "textoVision" auto "mision" auto "textoMision" auto "valores" auto "textoValores" auto / 1fr; }
  .serviciosListado {
    margin-left: 1rem;
    width: 80%; }
    .serviciosListado ul li {
      list-style-type: circle; }
    .serviciosListado ul li:first-child {
      padding-top: 1rem; }
  .footerIconos img {
    height: 52px;
    width: 55.5px; } }
