* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Nanum Gothic Coding', monospace;
  line-height: 1.6;
  color: black;
  background-color: bisque; }

.titulos {
  font-size: 4rem;
  text-align: center; }

.subtitulos {
  font-size: 2rem;
  color: #993030; }

p {
  font-size: 1.3rem; }

li {
  font-size: 1.3rem; }

a {
  text-decoration: none;
  font-size: 1.3rem;
  color: black;
  font-weight: bold; }
  a:hover {
    text-decoration: none;
    color: black;
    font-weight: bold; }

.logoCetecc {
  vertical-align: middle;
  border-radius: 35%;
  width: 150px;
  height: 120px; }
  .logoCetecc:hover {
    transform: scale(1.2);
    border-radius: 0%; }

.nav-item {
  font-size: 1.3rem; }
  .nav-item:hover {
    transform: rotate(-5deg); }

.navbar {
  background-color: rgba(240, 229, 34, 0.664); }

.homeGrid {
  display: grid;
  grid-template-areas: "portada portada portada" "tituloHome tituloHome tituloHome" "subtituloPsico subtituloPsico subtituloPsico" "textoHome textoHome textoHome" "ubicacionCetecc ubicacionCetecc ubicacionCetecc" "mapaCetecc mapaCetecc mapaCetecc";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto);
  justify-items: strecht;
  align-items: center; }

.homePortada {
  grid-area: portada;
  width: 100%;
  display: grid;
  place-items: center; }

.homeImg {
  align-self: center;
  width: 80%;
  height: 200px; }

.homeTitulo {
  grid-area: tituloHome;
  margin: 5%; }

.homeImportanciaPsico {
  grid-area: subtituloPsico;
  margin-left: 5%; }
  .homeImportanciaPsicoTexto {
    grid-area: textoHome;
    margin: 0 5% 0 5%; }

.homeUbicacion {
  grid-area: ubicacionCetecc;
  margin: 0 5% 0 5%; }

.homeMapa {
  grid-area: mapaCetecc;
  display: grid;
  place-items: center;
  margin-bottom: 2%; }
  .homeMapa iframe {
    width: 80%;
    height: 35vh; }

.nosotrosGrid {
  display: grid;
  grid-template-areas: "tituloNosotros tituloNosotros tituloNosotros tituloNosotros tituloNosotros tituloNosotros" "fotoAna sobreAna sobreAna sobreAna sobreAna sobreAna" "fotoCarla sobreCarla sobreCarla sobreCarla sobreCarla sobreCarla" "fotoMathias sobreMathias sobreMathias sobreMathias sobreMathias sobreMathias" "fotoSonia sobreSonia sobreSonia sobreSonia sobreSonia sobreSonia" "fotoFernando sobreFernando sobreFernando sobreFernando sobreFernando sobreFernando";
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(6, auto);
  justify-content: center;
  align-items: center; }

.nosotrosTitulo {
  grid-area: tituloNosotros;
  margin: 20px 10px; }

.nosotrosFotoAna {
  grid-area: fotoAna;
  height: auto;
  align-self: start;
  justify-self: end; }
  .nosotrosFotoAnaPng {
    margin-top: 5%; }

.nosotrosSobreAna {
  grid-area: sobreAna;
  padding: 0 1%;
  margin-bottom: 5%; }

.nosotrosFotoCarla {
  grid-area: fotoCarla;
  height: auto;
  align-self: start;
  justify-self: end; }
  .nosotrosFotoCarlaPng {
    margin-top: 5%; }

.nosotrosSobreCarla {
  grid-area: sobreCarla;
  padding: 0 1%;
  margin-bottom: 5%; }

.nosotrosFotoMathias {
  grid-area: fotoMathias;
  height: auto;
  align-self: start;
  justify-self: end; }
  .nosotrosFotoMathiasPng {
    margin-top: 5%; }

.nosotrosSobreMathias {
  grid-area: sobreMathias;
  padding: 0 1%;
  margin-bottom: 5%; }

.nosotrosFotoSonia {
  grid-area: fotoSonia;
  height: auto;
  align-self: start;
  justify-self: end; }
  .nosotrosFotoSoniaPng {
    margin-top: 5%; }

.nosotrosSobreSonia {
  grid-area: sobreSonia;
  padding: 0 1%;
  margin-bottom: 5%; }

.nosotrosFotoFernando {
  grid-area: fotoFernando;
  height: auto;
  align-self: start;
  justify-self: end; }
  .nosotrosFotoFernandoPng {
    margin-top: 5%; }

.nosotrosSobreFernando {
  grid-area: sobreFernando;
  padding: 0 1%;
  margin-bottom: 5%; }

.misionGrid {
  display: grid;
  grid: "objetivosCetecc objetivosCetecc objetivosCetecc" auto "vision . ." auto "textoVision textoVision textoVision" auto "mision . ." auto "textoMision textoMision textoMision" auto "valores . ." auto "textoValores textoValores textoValores" 1fr / 1fr 1fr 1fr; }

.misionObjetivosGrales {
  margin-bottom: 2.5%;
  text-align: center;
  grid-area: objetivosCetecc; }

.misionVision {
  margin-left: 45px;
  grid-area: vision; }
  .misionVisionTexto {
    margin: 15px 45px;
    grid-area: textoVision; }

.misionMision {
  margin-left: 45px;
  grid-area: mision; }
  .misionMisionTexto {
    margin: 15px 45px;
    grid-area: textoMision; }

.misionValores {
  margin-left: 45px;
  grid-area: valores; }
  .misionValoresTexto {
    margin: 15px 45px;
    grid-area: textoValores; }

.serviciosGrid {
  display: grid;
  grid: "tituloServicios tituloServicios tituloServicios tituloServicios tituloServicios" auto "listadoServicios listadoServicios listadoServicios . ." auto "subtituloServicios subtituloServicios subtituloServicios subtituloServicios subtituloServicios" auto "poblaciones poblaciones poblaciones poblaciones poblaciones" auto;
  grid-template-columns: repeat(5, 1fr); }

.serviciosTitulo {
  grid-area: tituloServicios;
  margin: 10px 25px 20px 25px; }

.serviciosListado {
  grid-area: listadoServicios;
  margin: 15px 45px; }

.serviciosSubtitulos {
  grid-area: subtituloServicios;
  margin-top: 2.5%;
  margin-left: 45px; }

.serviciosPoblaciones {
  grid-area: poblaciones;
  margin: 15px 45px; }

.table th {
  text-align: center;
  padding: 2px 5px; }

.table td {
  text-align: center;
  padding-left: 10px; }

.contactoMapa {
  margin: 15px 50px; }

.footer {
  border: black solid 2px;
  background-color: rgba(240, 229, 34, 0.664); }
  .footer p {
    font-weight: bold;
    font-style: italic; }
  .footer ul {
    display: flex;
    flex-direction: column; }
    .footer ul li {
      list-style-type: none; }
  .footerFlex {
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-around;
    align-items: center; }
    .footerFlex nav ul:first-child {
      margin-top: 1.3rem; }
  .footerIconos img {
    height: 60px;
    width: 65px; }
    .footerIconos img:hover {
      transform: scale(1.2);
      border-radius: 50%; }

@media screen and (max-width: 800px) {
  p {
    font-size: 1.1rem; }
  a {
    font-size: 1.1rem; }
  li {
    font-size: 1.1rem; }
  .homeGrid {
    display: grid;
    grid-template-areas: "portada" "tituloHome" "subtituloPsico" "textoHome" "ubicacionCetecc" "mapaCetecc";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    justify-items: strecht;
    align-items: center; }
  .titulos {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 15px; }
  .subtitulos {
    font-size: 1.7rem;
    line-height: 1; }
  .logoCetecc {
    width: 100px;
    height: 90px; }
  .homeImg {
    height: 165px; }
  .homeMapa {
    margin-bottom: 2%; }
  .nosotrosFotoAnaPng {
    margin-left: 20px;
    height: 155px;
    width: 155px; }
  .nosotrosSobreAna {
    margin-left: 5%;
    margin-right: 5%; }
  .nosotrosFotoCarlaPng {
    margin-left: 20px; }
  .nosotrosSobreCarla {
    margin-left: 5%;
    margin-right: 5%; }
  .nosotrosFotoMathiasPng {
    margin-left: 20px; }
  .nosotrosSobreMathias {
    margin-left: 5%;
    margin-right: 5%; }
  .nosotrosFotoSoniaPng {
    margin-left: 20px; }
  .nosotrosSobreSonia {
    margin-left: 5%;
    margin-right: 5%; }
  .nosotrosFotoFernandoPng {
    margin-left: 20px; }
  .nosotrosSobreFernando {
    margin-left: 5%;
    margin-right: 5%; }
  .serviciosGrid {
    display: grid;
    grid: "tituloServicios tituloServicios tituloServicios" auto "listadoServicios listadoServicios listadoServicios" auto "subtituloServicios subtituloServicios subtituloServicios" auto "poblaciones poblaciones poblaciones" auto / 1fr 1fr 1fr; }
  .footer p {
    color: blue; }
  .footerFlex {
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  .footerIconos {
    margin-bottom: 1rem; } }

@media screen and (max-width: 480px) {
  p {
    font-size: 1rem; }
  a {
    font-size: 1rem; }
  li {
    font-size: 1rem; }
  .titulos {
    font-size: 1.5rem; }
  .subtitulos {
    font-size: 1.35rem; }
  .logoCetecc {
    width: 85px;
    height: 76.5px; }
  .homeImg {
    height: 150px; }
  .homeUbicacion {
    grid-area: ubicacionCetecc;
    margin: 15px 0.5%; }
    .homeUbicacion h2 {
      text-align: center; }
  .homeMapa {
    grid-area: mapaCetecc;
    display: grid;
    place-items: center;
    margin-bottom: 2%; }
  .nosotrosGrid {
    display: grid;
    grid-template-areas: "tituloNosotros" "fotoAna" "sobreAna" "fotoCarla" "sobreCarla" "fotoMathias" "sobreMathias" "fotoSonia" "sobreSonia" "fotoFernando" "sobreFernando";
    justify-items: center;
    align-items: center; }
  .nosotrosTitulo {
    margin: 10px 5px; }
  .nosotrosFotoAna {
    align-self: center;
    justify-self: center; }
    .nosotrosFotoAnaPng {
      margin: 0px;
      margin-bottom: 10px; }
  .nosotrosSobreAna {
    text-align: left; }
  .nosotrosFotoCarla {
    align-self: center;
    justify-self: center; }
    .nosotrosFotoCarlaPng {
      margin: 0px;
      margin-bottom: 10px; }
  .nosotrosSobreCarla {
    text-align: left; }
  .nosotrosFotoMathias {
    align-self: center;
    justify-self: center; }
    .nosotrosFotoMathiasPng {
      margin: 0px;
      margin-bottom: 10px; }
  .nosotrosSobreMathias {
    text-align: left; }
  .nosotrosFotoSonia {
    align-self: center;
    justify-self: center; }
    .nosotrosFotoSoniaPng {
      margin: 0px;
      margin-bottom: 10px; }
  .nosotrosSobreSonia {
    text-align: left; }
  .nosotrosFotoFernando {
    align-self: center;
    justify-self: center; }
    .nosotrosFotoFernandoPng {
      margin: 0px;
      margin-bottom: 10px; }
  .nosotrosSobreFernando {
    text-align: left; }
  .misionGrid {
    grid: "objetivosCetecc" auto "vision" auto "textoVision" auto "mision" auto "textoMision" auto "valores" auto "textoValores" auto / 1fr; }
  .serviciosListado {
    margin-left: 1rem;
    width: 80%; }
    .serviciosListado ul li {
      list-style-type: circle; }
    .serviciosListado ul li:first-child {
      padding-top: 1rem; }
  .footerIconos img {
    height: 52px;
    width: 55.5px; }
  .footer p {
    font-size: 0.9rem; } }
