* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nanum Gothic Coding', monospace;
    line-height: 1.6;
    color: black;
    background-color: bisque;
}

/*DEJO COMENTADO PARA IMPLEMENTAR UN "EXTEND" */
/*h1, h2, h3, h4, h5, h6 {
    font-family: 'Baloo 2', cursive;
    color: #6619FF;


h1 {
    font-size: 4rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
}*/

/* ACÁ IMPLEMENTO EL "EXTEND"*/

.formatoTitulos {
    font-family: 'Baloo 2', cursive;
    color: #6619FF;
}

.titulos {
    @extend .formatoTitulos;
        font-size: 4rem;
        text-align: center;
}

.subtitulos {
    @extend .formatoTitulos;
    font-size: 2rem;
    color: rgb(153, 48, 48);
}
/* HASTA ACÁ LLEGÓ EL EXTEND */

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    
    &:hover {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
}
