* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nanum Gothic Coding', monospace;
    line-height: 1.6;
    color: black;
    background-color: bisque;
}

// .formatoTitulos {
//     font-family: 'Baloo 2', cursive;
// }

.titulos {
    // @extend .formatoTitulos;
        font-size: 4rem;
        text-align: center;
}

.subtitulos {
    // @extend .formatoTitulos;
    font-size: 2rem;
    color: rgb(153, 48, 48);
}

p {
    font-size: 1.3rem;
}

li { 
    font-size: 1.3rem;
}

a {
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
    font-weight: bold;
    
    &:hover {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
}
