.logoCetecc {
    vertical-align: middle; 
    border-radius: 35%;
    width: 150px;
    height: 120px;
}

.navbar {
    background-color: rgba(240, 229, 34, 0.664); 
}

.logoCetecc:hover {
    transform: scale(1.25);
    border-radius: 0%;
}

.nav-item:hover {
    transform: scale(1.50);
    transform: rotate(-50deg);
}