.home {
    &Grid {
    display: grid;
    grid-template-areas: 
    "portada portada portada"
    "tituloHome tituloHome tituloHome"
    "subtituloPsico subtituloPsico subtituloPsico"
    "textoHome textoHome textoHome"
    "ubicacionCetecc ubicacionCetecc ubicacionCetecc"
    "mapaCetecc mapaCetecc mapaCetecc";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, auto);
    justify-items: strecht;
    align-items: center;
    }

    &Portada {
        grid-area: portada;
        width: 100%;
        display: grid;
        place-items: center;
    }

    &Img {
        align-self: center;
        width: 80%;
        height: 200px;
    }

    &Titulo {
        grid-area: tituloHome;
        margin: 5%;
    }

    &ImportanciaPsico {
        grid-area: subtituloPsico;
        margin-left: 5%;
        
        &Texto {
            grid-area: textoHome;
            margin: 0 5% 0 5%;
        }
    }

    &Ubicacion {
        grid-area: ubicacionCetecc;
        margin: 0 5% 0 5%;
    }
 
    &Mapa {
        grid-area: mapaCetecc;
        display: grid;
        place-items: center;
        margin-bottom: 2%;

        & iframe {
            width: 80%;
            height: 35vh;
        }
    }
}