.home {
    &Grid {
    display: grid;
    grid-template-areas: 
    "portada portada portada"
    "tituloHome tituloHome tituloHome"
    "subtituloPsico subtituloPsico ."
    "textoHome textoHome textoHome"
    "ubicacionCetecc ubicacionCetecc ."
    "mapaCetecc . .";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, auto);
    justify-items: strecht;
    align-items: center;
    }

    &Portada {
        grid-area: portada;
        width: 100%;
    }

    &Img {
        align-self: center;
        width: 100%;
        height: 300px;
    }

    &Titulo {
        grid-area: tituloHome;
    }

    &ImportanciaPsico {
        grid-area: subtituloPsico;
        margin: 0 0 0 1.5%;
        
        &Texto {
            grid-area: textoHome;
            margin: 0 0 0 1.5%;
        }
    }

    &Ubicacion {
        grid-area: ubicacionCetecc;
        margin: 0 0 0 1.5%;
    }
 
    &Mapa {
        grid-area: mapaCetecc;

        & iframe {
            margin: 3.5% 3.5%;
        }
    }
}