@media screen and (max-width: 800px) {
    body {
        // font-size: .80rem;
        // font-size: 80%;
    }

    p {
        font-size: 1.1rem;
    }

    a {
        font-size: 1.1rem;
    }

    li {
        font-size: 1.1rem;
    }

    .homeGrid {
        display: grid;
        grid-template-areas: 
        "portada"
        "tituloHome"
        "subtituloPsico"
        "textoHome"
        "ubicacionCetecc"
        "mapaCetecc";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        justify-items: strecht;
        align-items: center;
    }

    .titulos {
        font-size: 3rem;
        line-height: 1;
        margin-bottom: 15px;
    }
    
    .subtitulos {
        font-size: 1.7rem;
        line-height: 1;
    }

    .logoCetecc {
        width: 100px;
        height: 90px;
    }
    
    .homeImg {
        height:165px;
    }

    .homeMapa {
        margin-bottom: 2%;
    }    



    .nosotros {
        &FotoAna {
            &Png {
                margin-left: 20px;
                height: 155px;
                width: 155px;
            }
        }
        
        &SobreAna {
            margin-left:5%;
            margin-right: 5%;
        }

        &FotoCarla {
            &Png {
                margin-left: 20px;
            }
        }

        &SobreCarla {
            margin-left:5%;
            margin-right: 5%;
        }

        &FotoMathias {
            &Png {
                margin-left: 20px;
            }
        }

        &SobreMathias {
            margin-left:5%;
            margin-right: 5%;
        }

        &FotoSonia {
            &Png {
                margin-left: 20px;
            }
        }

        &SobreSonia {
            margin-left:5%;
            margin-right: 5%;
        }

        &FotoFernando {
            &Png {
                margin-left: 20px;
            }
        }

        &SobreFernando {
            margin-left:5%;
            margin-right: 5%;
        }
    }

    .serviciosGrid {
    display: grid;
    grid: "tituloServicios tituloServicios tituloServicios" auto
    "listadoServicios listadoServicios listadoServicios" auto
    "subtituloServicios subtituloServicios subtituloServicios" auto
    "poblaciones poblaciones poblaciones" auto / 1fr 1fr 1fr;
    }

    .footer {
        & p {
            color: blue;
        }

        &Flex {
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

        &Iconos {
            margin-bottom: 1rem;
        }
    }
}





@media screen and (max-width: 480px) {
    // body {
    //     font-size: 70%;
    // }
    
    p {
        font-size: 1rem;
    }

   a {
    font-size: 1rem;
    }

    li {
        font-size: 1rem;
    }
    .titulos {
        font-size: 1.5rem;
    }

    .subtitulos {
        font-size: 1.35rem;
    }

    .logoCetecc {
        width: 85px;
        height: 76.5px;
    }

    .homeImg {
        height:150px;
    }

    .homeUbicacion {
        grid-area: ubicacionCetecc;
        margin: 15px 0.5%;

        & h2 {
            text-align: center;
        }
    } 
    
    .homeMapa {
        grid-area: mapaCetecc;
        display: grid;
        place-items: center;
        margin-bottom: 2%;
    }

    .nosotros {    
        &Grid {
            display: grid;
            grid-template-areas:
            "tituloNosotros"
            "fotoAna"
            "sobreAna"
            "fotoCarla"
            "sobreCarla"
            "fotoMathias"
            "sobreMathias"
            "fotoSonia"
            "sobreSonia"
            "fotoFernando"
            "sobreFernando";
            justify-items: center;
            align-items: center;
        }

        &Titulo {
            margin: 10px 5px;
        }


        &FotoAna {
            align-self: center;
            justify-self: center;

            &Png {
                margin: 0px;
                margin-bottom: 10px;
            }
        }
                
        &SobreAna {
            text-align: left;
        }
    
        &FotoCarla {
            align-self: center;
            justify-self: center;

            &Png {
                margin: 0px;
                margin-bottom: 10px;
            }
        }

        &SobreCarla {
            text-align: left;
        }
    
        &FotoMathias {
            align-self: center;
            justify-self: center;

            &Png {
                margin: 0px;
                margin-bottom: 10px;
            }
        }

        &SobreMathias {
            text-align: left;
        }
        
        &FotoSonia {
            align-self: center;
            justify-self: center;

            &Png {
                margin: 0px;
                margin-bottom: 10px;
            }
        }

        &SobreSonia {
            text-align: left;
        }

        &FotoFernando {
            align-self: center;
            justify-self: center;

            &Png {
                margin: 0px;
                margin-bottom: 10px;
            }
        }

        &SobreFernando {
            text-align: left;
        }
    }
    
    .misionGrid {
        grid: "objetivosCetecc" auto
        "vision" auto
        "textoVision" auto
        "mision" auto
        "textoMision" auto
        "valores" auto
        "textoValores" auto / 1fr ;
    }

    .serviciosListado {  
        margin-left: 1rem;
        width: 80%;
 
        & ul li {
            list-style-type: circle;
        }

        & ul li:first-child {
            padding-top: 1rem;
        }
    }

    .footer {
        
        &Iconos img {
        height: 52px;
        width: 55.5px;
        }

        & p {
            font-size: 0.9rem;
        }
    }
}