@media screen and (max-width: 708px) {
    body {
        font-size: .80rem;
    }

    .titulos {
        font-size: 3rem;
        line-height: 1;
        margin-bottom: 15px;
    }
    
    .subtitulos {
        font-size: 1.7rem;
        line-height: 1;
    }

    .logoCetecc {
        width: 100px;
        height: 90px;
    }
    
    .homeImg {
        height:200px;
        width: 100%;
    }

    .nosotros {
        &FotoAna {
            & img {
                width: 135px;
                height: 135px;
            }
        }
        
        &SobreAna {
            margin-left: 1%;
        }

        &FotoCarla {
            & img {
                width: 135px;
                height: 135px;
            }
        }

        &SobreCarla {
            margin-left: 1%;
        }

        &FotoMathias {
            & img {
                width: 135px;
                height: 135px;
            }
        }

        &SobreMathias {
        margin-left: 1%;
        }

        &FotoSonia {
            & img {
                width: 135px;
                height: 135px;
            }
        }

        &SobreSonia {
            margin-left: 1%;
        }

        &FotoFernando {
            & img {
                width: 135px;
                height: 135px;
            }
        }

        &SobreFernando {
            margin-left: 1%;
        }
    }

    .serviciosGrid {
    display: grid;
    grid: "tituloServicios tituloServicios tituloServicios" auto
    "listadoServicios listadoServicios listadoServicios" auto
    "subtituloServicios subtituloServicios subtituloServicios" auto
    "poblaciones poblaciones poblaciones" auto / 1fr 1fr 1fr;
    }

    .footer {
        & p {
            color: blue;
        }

        &Flex {
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

        &Iconos {
            margin-bottom: 1rem;
        }
    }
}





@media screen and (max-width: 480px) {
    body {
        font-size: .70rem;
    }
    
    .titulos {
        font-size: 2rem;
    }

    .subtitulos {
        font-size: 1.35rem;
    }

    .logoCetecc {
        width: 85px;
        height: 76.5px;
    }

    .homeGrid {
        display: grid;
        grid-template-areas: 
        "portada"
        "tituloHome"
        "subtituloPsico"
        "textoHome"
        "ubicacionCetecc"
        "mapaCetecc";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        justify-items: strecht;
        align-items: center;
    }

    .homeImg {
        height:150px;
        width: 100%;
    }

    .homeUbicacion {
        grid-area: ubicacionCetecc;
        margin: 15px 0.5%;

        & h2 {
            text-align: center;
        }
    } 
    
    .homeMapa {
        grid-area: mapaCetecc;

        & iframe {
            margin: 3.5% 6.5%;
            text-align: center;
        }
    }

    .nosotros {    
        &Grid {
            display: grid;
            grid-template-areas:
            "tituloNosotros"
            "fotoAna"
            "sobreAna"
            "fotoCarla"
            "sobreCarla"
            "fotoMathias"
            "sobreMathias"
            "fotoSonia"
            "sobreSonia"
            "fotoFernando"
            "sobreFernando";
            justify-items: center;
            align-items: center;
        }

        &FotoAna {
            text-align: center;
            & img {
                width: 110px;
                height: 110px;
            }
        }
                
        &SobreAna {
            text-align: left;
        }
    
        &FotoCarla {
            text-align: center;
            & img {
                width: 110px;
                height: 110px;
            }
        }

        &SobreCarla {
            text-align: left;
        }
    
        &FotoMathias {
            text-align: center;
            & img {
                width: 110px;
                height: 110px;
            }
        }

        &SobreMathias {
            text-align: left;
        }
        
        &FotoSonia {
            text-align: center;
            & img {
                width: 110px;
                height: 110px;
            }
        }

        &SobreSonia {
            text-align: left;
        }

        &FotoFernando {
            text-align: center;
            & img {
                width: 110px;
                height: 110px;
            }
        }

        &SobreFernando {
            text-align: left;
        }
    }
    
    .misionGrid {
        grid: "objetivosCetecc" auto
        "vision" auto
        "textoVision" auto
        "mision" auto
        "textoMision" auto
        "valores" auto
        "textoValores" auto / 1fr ;
    }

    .serviciosListado {  
        margin-left: 1rem;
        width: 80%;
 
        & ul li {
            list-style-type: circle;
        }

        & ul li:first-child {
            padding-top: 1rem;
        }
    }

    .footerIconos img {
        height: 52px;
        width: 55.5px;
    }
}