.mision {
    &Grid {
        display: grid;
        grid: "objetivosCetecc objetivosCetecc objetivosCetecc" auto
        "vision . ." auto
        "textoVision textoVision textoVision" auto
        "mision . ." auto
        "textoMision textoMision textoMision" auto
        "valores . ." auto
        "textoValores textoValores textoValores" 1fr / 1fr 1fr 1fr;
    }    
    
    &Objetivos {
        &Grales {
            margin-bottom: 2.5%;
            text-align: center;
            grid-area: objetivosCetecc;
        }
    }
    
    &Vision {
        margin-left: 45px;
        grid-area: vision;
        &Texto {   
            margin: 15px 45px;
            grid-area: textoVision;
        }
    }
        
    &Mision {
        margin-left: 45px;
        grid-area: mision;
        &Texto {
            margin: 15px 45px;
            grid-area: textoMision;
        }
    }
        
    &Valores {
        margin-left: 45px;
        grid-area: valores;
        &Texto {
            margin: 15px 45px;
            grid-area: textoValores;
        }
    }
}