.gridNosotros {
    display: grid;
    grid-template-areas:
    "tituloNosotros tituloNosotros tituloNosotros"
    "fotoAna sobreAna sobreAna"
    "fotoCarla sobreCarla sobreCarla"
    "fotoMathias sobreMathias sobreMathias";
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    justify-items: center;
    align-items: center;
}

.tituloNosotros {
    grid-area: tituloNosotros;
    animation: fadeInDownBig;
    animation-duration: 1s;
}

.fotoAna {
    grid-area: fotoAna;
    height: auto;
    padding-top: 4%;
    animation: rotateIn;   
    animation-duration: 1.5s;
}

.sobreAna {
    grid-area: sobreAna;
    padding: 0 1%;
}

.fotoCarla {
    grid-area: fotoCarla;
    height: auto;
    padding-top: 4%;
    animation: rotateIn;   
    animation-duration: 1.5s;
}

.sobreCarla {
    grid-area: sobreCarla;
    padding: 0 1%;
}

.fotoMathias {
    grid-area: fotoMathias;
    height: auto;
    padding-top: 4%;
    padding-left: 2%;
    animation: rotateIn;   
    animation-duration: 1.5s;
}

.sobreMathias {
    grid-area: sobreMathias;
    padding: 0 1%;
}