.servicios {
    &Grid {
        display: grid;
        grid: "tituloServicios tituloServicios tituloServicios tituloServicios tituloServicios" auto
        "listadoServicios listadoServicios listadoServicios . ." auto / 1fr 1fr 1fr 1fr 1fr;
        /*". horariosServicios horariosServicios horariosServicios ." auto*/
    }
        
    &Titulo {
        grid-area: tituloServicios;
        margin-bottom: 2.5%;
    }
    
    &Listado {
        grid-area: listadoServicios;
        
        & ul li {
            list-style-type: none;
        }
    }
    
    &BotonArriba {
        @include botonesArriba(20%, 40%, rgb(205, 250, 43), 1px ridge rgb(77, 13, 196), 50%);
    }
}





/* Esta parte no es necesaria con la tabla de BootStrap*/
/*.horariosServicios {
    grid-area: horariosServicios;
    justify-self:center;
    margin: 20px 0 15px 15px;
}*/

.table {
    & th{
    text-align: center;
    padding: 2px 5px;
    }

    & td{
        text-align: center;
        padding-left: 10px;
    }
}
