.servicios {
    &Grid {
        display: grid;
        grid: "tituloServicios tituloServicios tituloServicios tituloServicios tituloServicios" auto
        "listadoServicios listadoServicios listadoServicios . ." auto
        "subtituloServicios subtituloServicios subtituloServicios subtituloServicios subtituloServicios" auto
        "poblaciones poblaciones poblaciones poblaciones poblaciones" auto;
        grid-template-columns: repeat(5, 1fr);
    }
        
    &Titulo {
        grid-area: tituloServicios;
        margin-bottom: 2.5%;
    }
    
    &Listado {
        grid-area: listadoServicios;
    }

    &Subtitulos {
        grid-area: subtituloServicios;
        margin-top: 2.5%;
        margin-left: 1.5%;
    }

    &Poblaciones {
        grid-area: poblaciones;
        // margin-left: 1.5%;
    }
}

.table {
    & th{
    text-align: center;
    padding: 2px 5px;
    }

    & td{
        text-align: center;
        padding-left: 10px;
    }
}
