.gridServicios {
    display: grid;
    grid: "tituloServicios tituloServicios tituloServicios tituloServicios tituloServicios" auto
    "listadoServicios listadoServicios listadoServicios . ." auto
    ". horariosServicios horariosServicios horariosServicios ." auto / 1fr 1fr 1fr 1fr 1fr;
}

.tituloServicios {
    grid-area: tituloServicios;
    margin-bottom: 2.5%;
}

.listadoServicios {
    grid-area: listadoServicios;
    
    & ul li {
        list-style-type: none;
    }
}

.horariosServicios {
    grid-area: horariosServicios;
    justify-self:center;
    margin: 20px 0 15px 15px;
}

.tabla {
    & th{
    text-align: center;
    padding: 2px 5px;
    }

    & td{
        text-align: center;
        padding-left: 10px;
    }
}
